<div id="About" style="margin: 0px; padding: 0px; color:rgb(255, 250, 255);">_</div>
<h2 {% if site.style=='dark' %}class="text-white" {% endif %}>About</h2>
<br>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4 text-list">
  <ul>
    <p style="margin: 0 0 0 25px; class=" text-normal">
      Hi! My name is Felipe and I am currently writing my master's thesis at Technical University of Munich's School of Robotics and Machine Intelligence about offline model-based reinforcement learning.
      After spending 5 years tinkering with cars at Porsche, first as an integrated degree student and later as a development engineer, my curiosity got the best of me and I returned to university to find out what this
      artificial intelligence thing really is about. Besides learning a lot about machine learning and witnessing the incredible progress in the field, I also learned a lot about domains where machine learning
      can be applied, ranging from computer vision to robotics and all the way to computational biology.
      <br>
      <br>
      A rather unexpected journey started with me going to Beijing for an exchange semester at Tsinghua University. I was immediately mesmerized by both the language and the culture and later went to Shanghai for another five months to
      fully focus on studying Chinese in preparation for writing my master's thesis in Beijing. Unfortunately, the COVID pandemic hit and had me stranded in Taiwan for half a year. While not part of the plan, this gave me the opportunity
      to get to know the amazing people of Taiwan and get myself into mobile development, all the while waiting for the world to go back to normal. However, the world refused to do so and I eventually returned to Munich to finish
      off my master's degree.
      <br>
      <br>
      I am excited to find employment starting from June 2021 that will help me further hone my AI skills and hopefully offer opportunities to leverage my fluent Chinese.
      Please feel free to find out more about me and the things I have been working on below and don't hesitate to get in contact!
    </p>
    <br>
  </ul>
</div>
<hr>
